<%= form_with model: blog, local:true do |f| %>
  <%= render 'layouts/error', model: f.object %>
  <table class="form-table">
    <tbody>
      <tr>
        <td><%= f.text_field :title, placeholder: "タイトル" %></td>
      </tr>
      <tr>
        <td><%= f.text_area :body, placeholder: "本文" %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit '投稿・更新', class: "btn-submit" %>
<% end %>