<header>
  <div class="container">
    <div class="menu">
      <ul>
        <li>
          <i class="fas fa-home"></i>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <i class="fas fa-user-friends"></i>
          <%= link_to "About me", homes_about_path %>
        </li>
        <li>
          <i class="far fa-address-card"></i>
          <%= link_to "Contact", homes_contact_path %>
        </li>
      </ul>
    </div>
    <div class="logo">
      <h2>Broccolingual</h2>
    </div>
  </div>
</header>
<% if user_signed_in? && current_user.admin? %>
  <div class="admin-notice">
    <div class="container">
      <p>Adminアカウントでログイン中</p>
      <div class="login-menu">
        <ul>
          <li>
            <%= link_to '投稿フォーム', new_blog_path %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>